<div class="login-form">
  <mat-card>
    <mat-card-content>
      <h1>LOGIN</h1>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Username" type="text" required>
      </mat-form-field>
      <mat-form-field class="full-width-input separator">
        <input matInput placeholder="Password" type="password" required>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Login</button>
    </mat-card-content>
  </mat-card>
</div>
